<table width="100%" border="0" cellspacing="0" cellpadding="0"  height="60">
  <tr class="mem-bot-bg">
  	  <td width="1%">&nbsp;</td>
      <td width="61%"><font class="white-text-bold">SuiteRx, LLC</font><br />
		  <font class="white-text"> 307 S. Jupiter Road, Suite 205, Allen, TX 75002<br>
                Phone: 916-242-8779</font> </td>
    <td width="38%" class="bot-white-nav"><a href="https://suiterx.com/" target="_blank">Suiterx.com</a> | <a href="https://suiterx.com/about-us/" target="_blank">Company</a> | <a href="https://suiterx.com/#srx-home-slider-service" target="_blank">Products</a> | <a href="https://suiterx.com/#suite-apps" target="_blank">Services</a> | <a href="https://support.suiterx.com/" target="_blank">Contact</a> | <a href="https://suiterx.com/#suite-demo" target="_blank">Demo</a> | <a href="https://support.suiterx.com/" target="_blank">Support</a> <br />
        Phone : 916-242-8779    &copy; 2007 SuiteRx, LLC. All rights reserved.</td>
  </tr>	
	<tr>
		<td colspan="3" height="10" class="mem-blue-bg"></td>
	</tr>
</table>