<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Meditab Software</title>
		<link href="images/med_style.css" rel="stylesheet" type="text/css" />

	</head>
<body onload="assignValuesFromControl()">
<script type="text/javascript" src="./base/med_common.js"></script>	
<form name="frm_zoom" method="post" >
<input type="hidden" id="hid_fieldname" name="hid_fieldname" value="{$strControlName}" />
<input type="hidden" id="hid_temp" name="hid_temp"/>
<table width="95%" border="0" align="center" cellpadding="2" cellspacing="2" class="tab-bor">            

	<tr class="hdr" >
		<td align="left" valign="middle">&nbsp;&nbsp;{$strLabel}</td>
	</tr>
	{if $blnControlFlag eq 0}
	<tr>
    	<td align="left" valign="top">{$strTextArea}</td>
	</tr>

	<tr>
		<td  class="gray-bg" height="1"></td>
	</tr>
	<tr>
		<td align="center" valign="middle"><input type='button' name='smt_ok' value='Ok' class='btn' onclick="assignValuesToControl();">
		<input type='button' name='smt_cancel' value='Cancel' class='btn' onclick="javascript:window.close()"></td>
	</tr>
	{/if}
	{if $strHelpDesc neq ""}	
	<tr>
		<td>
		<table border="0" align="center" width="100%">
			<tr>
				<td class="middle-line"></td>
			</tr>
			<tr>
				<td ><strong>{$strHelpTitle}</strong></td>
			</tr>

			<tr>
				<td>{$strHelpDesc}</td>
			</tr>
		</table>
		</td>
	</tr>
	{/if}
</table>
</form>
</body>
</html>
