<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab-bor">
     <tr>
        <td height="24" align="left" valign="middle">&nbsp;</td>
		<td width="5%" align="left"><img src="images/dot-back-arrow.gif" width="5" height="9" hspace="5" /><a href="javascript:history.back();">Back</a></td>
      </tr>
	  <tr>
		<td height="1" class="blue-bg" colspan="2"></td>
	  </tr>
	<tr>
		<td colspan="2" height="335"  class="error-normal" align="center" valign="middle">
			<table width="79%" height="237" border="0" cellpadding="1" cellspacing="1" class="comnborder">
          <tr>
            <td height="21" align="center" valign="middle"><font class="title">Access denied</font></td>
          </tr>
          <tr>
            <td align="center" valign="middle" class="gray-bg" height="1"></td>
          </tr>
          <tr>
            <td height="105" align="center" valign="middle"><img src="images/error-image.gif" width="98" height="88" border="0"  /></td>
          </tr>
          <tr>
            <td height="55" align="center" valign="middle"><font class="note-hd">You are not authorized to view this page.</font></td>
          </tr>
        </table>		  </td>
	</tr>
	  <tr>
	  <td height="2" colspan="2"></td>
	 </tr>
</table>
