<form name="frm_list_record" id="frm_list_record" method="post" action="index.php">
  <input type="hidden" name="file" id="file"  value="med_server_statistics">
  <input type="hidden" name="hid_button_id" id="hid_button_id"  value="{$strButtonId}">
  <input type="hidden" name="hid_table_id" id="hid_table_id"  value="{$intTableId}">
  <input type="hidden" name="hid_page_type" id="hid_page_type"  value="L">
  <input type="hidden" name="hid_max_row_limit" id="hid_max_row_limit" value="{$intShowMaxRows}" />
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab-bor">
    <tr>
      <td height="24" align="left" valign="middle"><img src="images/orange-sarrow.gif" width="9" height="9" hspace="6" /> <font class="bold-text">Message Summary</font></td>
      <td width="5%" align="left"><img src="images/dot-back-arrow.gif" width="5" height="9" hspace="5" /><a href="javascript:history.back();">Back</a></td>
    </tr>
    <tr>
      <td height="1" class="blue-bg" colspan="2"></td>
    </tr>
    { if (!empty($strMessage))}
    <tr>
      <td height="25" colspan="2"  class="error-normal" align="center" valign="middle">{$strMessage}</td>
    </tr>
    {/if}
    <tr>
      <td height="2" colspan="2"></td>
    </tr>
	   
	
    <tr>
      <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
		  <td height="8" colspan="2"></td>
		</tr>
		{if $strReportType eq "RECEIVER"}
		<tr>
		  <td height="20" colspan="2" valign="top"><B>&nbsp;&nbsp;By Receiver:</B> {$strReportLink}</td>
		</tr>

          <tr>
            <td align="center" colspan="2">
				{$strByReceiverTable}
			</td>
          </tr>
		
		<tr>
		  <td height="10" colspan="2"></td>
		</tr>
		{/if}
		
		{if $strReportType eq "SENDER"}
		  <tr>
		  <td height="20" colspan="2" valign="top"><B>&nbsp;&nbsp;By Sender:</B> {$strReportLink}</td>
		</tr>

          <tr>
            <td align="center" colspan="2">
				{$strBySenderTable}
			</td>
          </tr>
		  {/if}
          <tr>
		  <td height="8" colspan="2"></td>
		</tr>
        </table></td>
    </tr>
  </table>
</form>
