<form name="frm_list_record" id="frm_list_record" method="post" action="index.php">
  <input type="hidden" name="file" id="file"  value="{$strFile}">
  <input type="hidden" name="hid_button_id" id="hid_button_id"  value="{$strButtonId}">
  <input type="hidden" name="hid_table_id" id="hid_table_id"  value="{$intTableId}">
  <input type="hidden" name="hid_page_type" id="hid_page_type"  value="{$strPageType}">
  <input type="hidden" id="med_delete_url" name="med_delete_url" value="med_action">
  <input type="hidden" name="hid_max_row_limit" id="hid_max_row_limit" value="{$intShowMaxRows}" />
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab-bor">
    <tr>
      <td height="24" align="left" valign="middle"><img src="images/orange-sarrow.gif" width="9" height="9" hspace="6" /> <font class="bold-text">{$strModuleName}</font></td>
    </tr>
    <tr>
      <td height="1" class="blue-bg"></td>
    </tr>
    { if (!empty($strMessage))}
    <tr>
      <td height="25"  class="error-normal" align="center" valign="middle">{$strMessage}</td>
    </tr>
    {/if}
    <tr>
      <td  align="right" valign="middle"><table class="qlist" border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td class="srch"><table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td class="vsrch"><table border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="0" align="right" valign="middle">{$Sr_LBL_show_rows}</td>
                        <td width="0" align="right" valign="middle">{$Sr_strshow_rows}<font class="main-table"> row(s)</font></td>
                        <td width="0" align="right" valign="middle">{$Sr_LBL_title}</td>
                        <td width="0" align="right" valign="middle">{$Sr_strtitle}</td>
                        <td width="0" align="right" valign="middle">{$Sr_LBL_long_desc}</td>
                        <td width="0" align="right" valign="middle">{$Sr_strlong_desc}</td>
                        <td width="0" align="right" valign="middle">{$Sr_LBL_parent_desg_id}</td>
                        <td width="0" align="right" valign="middle">{$Sr_strparent_desg_id}</td>
                        <td align="left"  valign="bottom"><input name="btn_submit" value="Search" class="btn" onclick="return submitSearchForm(this.form);" type="submit"></td>
                        <td align="left"  valign="bottom"><input src="images/export.gif" alt="Export to Excel" name="btn_export" value="Export"  type="image" onclick="return exportExcelFile(this.form);" title="Export to Excel"/></td>
                      </tr>
                    </table></td>
                </tr>
              </table></td>
          </tr>
        </table></td>
    </tr>
    <tr>
      <td height="2" colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td align="center" colspan="2">{$strPage}</td>
          </tr>
		   <tr>
            <td align="right" valign="top"><img src="images/view.gif" vspace="1" hspace="2" align="top"/> Description&nbsp;</td>
          </tr>
        </table></td>
    </tr>
  </table>
</form>
{literal}
<script language="javascript">
function extraSearchValid()
{	
	if(checkRowLimit(document.getElementById("Sr_Intxt_show_rows"),document.getElementById("hid_max_row_limit").value) == false)
		return false;
}
</script>
{/literal}