<form name="frm_add_record" id="frm_add_record" method="post" action="index.php">
  <input type="hidden" name="file" id="file" value="med_pharmacy_action" />
  <input type="hidden" name="hid_table_id" id="hid_table_id"  value="{$intTableId}">
  <input type="hidden" name="hid_page_type" id="hid_page_type"  value="{$strPageType}">
  <input type="hidden" id="hid_mt_tran_id" name="hid_mt_tran_id" value="{$intTranId}">
  <input type="hidden" id="last_service_action" name="last_service_action" value="{$strLastAction}">
  <input type="hidden" id="cs_level" name="cs_level" value="{$strCSLevel}">
  
  <table border="0" cellpadding="0" cellspacing="0"  width="100%" class="tab-bor" align="center">
    <tr>
      <td height="24" align="left"><img src="images/orange-sarrow.gif" width="9" height="9" hspace="4" /> 
	  	<font class="bold-text"> Pharmacy: {$strAddEditTitle}</font> {if $strMeditabId neq ''} &nbsp;&nbsp; <font class="bold-text"> Meditab Id: {$strMeditabId}</font>{/if}</td>
      <td width="5%" align="left"><img src="images/dot-back-arrow.gif" width="5" height="9" hspace="5" /><a href="javascript:history.back();">Back</a></td>
    </tr>
    <tr>
      <td height="1" class="blue-bg" colspan="2"></td>
    </tr>
    { if (!empty($strMessage))}
    <tr>
      <td colspan="2" height="25"  class="error-normal" align="center" valign="middle">{$strMessage}</td>
    </tr>
    {/if}
    <tr>
      <td colspan=2 height="5"  align="right">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="2" align="left"><table cellpadding="1" cellspacing="1" width="100%" border="0">
	  	
		 <tr>
			<td align="left">
				<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
				<legend><strong>Basic Information</strong></legend>
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				<tr>
					<td  align="right" valign="top" width="20%">{$LBL_store_name}</td>
					<td  align="left" valign="top" width="15%">{$strstore_name}</td>
					<td  align="right" valign="top" width="15%">{$LBL_store_number}</td>
					<td  align="left" valign="top" width="50%">{$strstore_number}</td>
				</tr>
				</table>
				</fieldset>
			</td>
		</tr>

	  	<tr>
			<td align="left">
				<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
				<legend><strong>Indentification</strong></legend>
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				    <tr>
					<td  align="right" valign="top">{$LBL_ncpdpid}</td>
					<td  align="left" valign="top" colspan="5">{$strncpdpid}</td>
				  </tr>
				   <tr>
					<td  align="right" valign="top" width="20%">{$LBL_dea}</td>
					<td  align="left" valign="top" width="15%">{$strdea}</td>
					<td  align="right" valign="top" width="15%">{$LBL_npi}</td>
					<td  align="left" valign="top" width="20%">{$strnpi}</td>
					<td  align="right" valign="top" width="15%"></td>
					<td  align="left" valign="top" width="15%"></td>
				  </tr>
				   
				<tr>
					<td  align="right" valign="top">{$LBL_file_id}</td>
					<td  align="left" valign="top">{$strfile_id}</td>
					<td  align="right" valign="top">{$LBL_hin}</td>
					<td  align="left" valign="top" >{$strhin}</td>
					<td  align="right" valign="top" >{$LBL_bin}</td>
					<td  align="left" valign="top" >{$strbin}</td>
				  </tr>
					
					<tr>
					<td  align="right" valign="top">{$LBL_medicaid_number}</td>
					<td  align="left" valign="top">{$strmedicaid_number}</td>
					<td  align="right" valign="top">{$LBL_medicare_number}</td>
					<td  align="left" valign="top">{$strmedicare_number}</td>
					<td  align="right" valign="top">{$LBL_mutually_defined}</td>
					<td  align="left" valign="top">{$strmutually_defined}</td>
				  </tr>
					
					<tr>
					<td  align="right" valign="top">{$LBL_naic_code}</td>
					<td  align="left" valign="top">{$strnaic_code}</td>
					<td  align="right" valign="top">{$LBL_payer_id}</td>
					<td  align="left" valign="top">{$strpayer_id}</td>
					<td  align="right" valign="top">{$LBL_ppo_number}</td>
					<td  align="left" valign="top">{$strppo_number}</td>
				  </tr>
					
				   <tr>
					<td  align="right" valign="top">{$LBL_prior_authorization}</td>
					<td  align="left" valign="top">{$strprior_authorization}</td>
					<td  align="right" valign="top">{$LBL_promotion_number}</td>
					<td  align="left" valign="top">{$strpromotion_number}</td>
					<td  align="right" valign="top">{$LBL_secondary_coverage}</td>
					<td  align="left" valign="top">{$strsecondary_coverage}</td>
				  </tr>
				  
				   <tr>
					<td  align="right" valign="top">{$LBL_social_security}</td>
					<td  align="left" valign="top">{$strsocial_security}</td>
					<td  align="right" valign="top">{$LBL_state_license}</td>
					<td  align="left" valign="top" colspan="2">{$strstate_license}</td>
				  </tr>
				</table>
				</fieldset>
			</td>
		</tr>
		
		 <tr>
			<td align="left">
				<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
				<legend><strong>Pharmacist</strong></legend>
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				  <tr>
					<td  align="right" valign="top" width="20%">{$LBL_first_name}</td>
					<td  align="left" valign="top" width="15%">{$strfirst_name}</td>
					<td  align="right" valign="top" width="15%">{$LBL_middle_name}</td>
					<td  align="left" valign="top" width="20%">{$strmiddle_name}</td>
					<td  align="right" valign="top" width="15%">{$LBL_last_name}</td>
					<td  align="left" valign="top" width="15%">{$strlast_name}</td>
				  </tr>
				  
				  <tr>
					<td  align="right" valign="top">{$LBL_suffix}</td>
					<td  align="left" valign="top">{$strsuffix}</td>
					<td  align="right" valign="top">{$LBL_prefix}</td>
					<td  align="left" valign="top" colspan="2">{$strprefix}</td>
				  </tr>
				</table>
				</fieldset>
			</td>
		</tr>
		
		  <tr>
			<td align="left">
				<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
				<legend><strong>Address</strong></legend>
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				  <tr>
					<td  align="right" valign="top" width="20%">{$LBL_address_line1}</td>
					<td  align="left" valign="top" width="15%">{$straddress_line1}</td>
					<td  align="right" valign="top" width="15%">{$LBL_address_line2}</td>
					<td  align="left" valign="top" width="20%">{$straddress_line2}</td>
					<td  align="right" valign="top" width="15%">{$LBL_cross_street}</td>
					<td  align="left" valign="top" width="15%">{$strcross_street}</td>
				  </tr>
				  
				  <tr>
					<td  align="right" valign="top">{$LBL_city}</td>
					<td  align="left" valign="top">{$strcity}</td>
					<td  align="right" valign="top">{$LBL_state}</td>
					<td  align="left" valign="top">{$strstate}</td>
					<td align="right" valign="top">{$LBL_zip}</td>
					<td align="left" valign="top">{$strzip}</td>
				 </tr>
				</table>
				</fieldset>
			</td>
		</tr>

		 <tr>
			<td align="left">
				<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
				<legend><strong>Contacts/Communications</strong></legend>
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				<tr>
					<td align="right" valign="top" width="20%">{$LBL_phone_primary}</td>
					<td align="left" valign="top" width="15%">{$strphone_primary}</td>
					<td align="right" valign="top" width="15%">{$LBL_fax}</td>
					<td align="left" valign="top" width="20%">{$strfax}</td>
					<td align="right" valign="top" width="15%">{$LBL_email}</td>
					<td align="left" valign="top" width="15%">{$stremail}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_phone_alt1_qualifier}</td>
					<td align="left" valign="top" colspan="5">{$strphone_alt1_qualifier}&nbsp;{$strphone_alt1}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_phone_alt2_qualifier}</td>
					<td align="left" valign="top" colspan="5">{$strphone_alt2_qualifier}&nbsp;{$strphone_alt2}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_phone_alt3_qualifier}</td>
					<td align="left" valign="top" colspan="5">{$strphone_alt3_qualifier}&nbsp;{$strphone_alt3}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_phone_alt4_qualifier}</td>
					<td align="left" valign="top" colspan="5">{$strphone_alt4_qualifier}&nbsp;{$strphone_alt4}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_phone_alt5_qualifier}</td>
					<td align="left" valign="top" colspan="5">{$strphone_alt5_qualifier}&nbsp;{$strphone_alt5}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_phone_alt6_qualifier}</td>
					<td align="left" valign="top" colspan="5">{$strphone_alt6_qualifier}&nbsp;{$strphone_alt6}</td>
				</tr>
				</table>
				</fieldset>
			</td>
		</tr>	
		
		 <tr>
			<td align="left" width="100%">
				<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
				<legend><strong>Directory Information</strong></legend>
				<table width="100%" border="0" cellspacing="1" cellpadding="1">
				<tr>
					<td align="right" valign="top"><font color="#FF0000">*</font>Service Level: </td>
					<td align="left" valign="top">{$strServiceLevelTable}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_selspecialty_type1}</td>
					<td align="left" valign="top">{$strSpecialtyRadioBox}<script> var LBL_Rrad_specialty_type1="Directory Specialty.";</script></td>
				</tr>
				<tr>
					<td align="right" valign="top"></td>
					<td align="left" valign="top" style="padding:5px;">{$LBL_specialty_type2}<br />{$strSpecialtyTable}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_active_start_time}</td>
					<td align="left" valign="top">{$stractive_start_time}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_active_start_time_one}</td>
					<td align="left" valign="top">{$stractive_start_time_one}&nbsp;(HH:MM:SS 24-Hour)</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_active_end_time}</td>
					<td align="left" valign="top">{$stractive_end_time}</td>
				</tr>
				<tr>
					<td align="right" valign="top">{$LBL_active_end_time_one}</td>
					<td align="left" valign="top">{$stractive_end_time_one}&nbsp;(HH:MM:SS 24-Hour)</td>
				</tr>
				
					<tr>
					<td align="right" valign="top">{$LBL_twenty_four_hour_flag}</td>
					<td align="left" valign="top">{$strtwenty_four_hour_flag}</td>
					</tr>
					
				<tr>
					<td align="right" valign="top">{$LBL_fax_portal}</td>
					<td align="left" valign="top">{$strfax_portal}</td>
				</tr>
				</table>
				</fieldset>
			</td>
		</tr>	
		{if $strPageType ne 'V'}
		  <tr>
            <td align="center" colspan="" ><input type='submit' name='smt_submit' value='Save' onclick='return submit_form(this.form);' class='btn' >
              &nbsp;
              <input type="reset" value="Cancel" name="btn_reset"  class="btn" >
            </td>
          </tr>
        {/if}  
  </table>
  </td>
  </tr>
  </table>
</form>
{literal}
<script language="javascript">

function extraValid()
{
	strAlertMessage	=	'';
	strFocusField	=	'';
	
	intNPI			=	getElement("TaRtxt_npi").value;
	if(intNPI != '' && intNPI.length != 10)
	{
		if(strAlertMessage == '')
			strFocusField	=	'TaRtxt_npi';
		
		strAlertMessage	+=	"NPI must be exactly 10 digits.\n";
		setStyle(getElement("TaRtxt_npi"));
	}
	
	strZip			=	getElement("InRtxt_zip").value;
	if(strZip.length != 5 && strZip.length != 9)
	{
		if(strAlertMessage == '')
			strFocusField	=	'InRtxt_zip';
		
		strAlertMessage	+=	"Please enter valid zip.\n";
		setStyle(getElement("InRtxt_zip"));
	}
	
	/* --------------- ADDRESS VALIDATION [START] ----------------*/
	strAddress1	=	Trim(getElement("TaRtxt_address_line1").value);
	arrAddress1	=	strAddress1.split(" ");

	if(arrAddress1.length == 1)
	{
		if(strAlertMessage == '')
			strFocusField	=	'TaRtxt_address_line1';
			
		strAlertMessage	+=	"Please enter valid Address Line 1.\n";
		setStyle(getElement("TaRtxt_address_line1"));
	}
	
	strAddress2	=	Trim(getElement("Tatxt_address_line2").value);
	arrAddress2	=	strAddress2.split(" ");
	if(arrAddress2.length == 1 && strAddress2 != '')
	{
		if(strAlertMessage == '')
			strFocusField	=	'Tatxt_address_line2';
			
		strAlertMessage	+=	"Please enter valid Address Line 2.\n";
		setStyle(getElement("Tatxt_address_line2"));
	}
	/* --------------- ADDRESS VALIDATION [END] ----------------*/
	
	/* --------------- PHONE VALIDATION [START] ----------------*/
	
	//Primary Phone
	objPhone	=	getElement("TaRtxt_phone_primary");
	if(checkPhoneValidation(objPhone))
	{
		if(strAlertMessage == '')
			strFocusField	=	'TaRtxt_phone_primary';
		
		strAlertMessage	+=	"Please enter valid Primary Phone.\n";
		setStyle(getElement('TaRtxt_phone_primary'));
	}
	
	/* -------------- FAX VALIDATION [START] ---------------*/
	objFax	=	getElement("TaRtxt_fax");
	if(checkPhoneValidation(objFax))
	{
		if(strAlertMessage == '')
			strFocusField	=	'TaRtxt_fax';
		
		strAlertMessage	+=	"Please enter valid Fax.\n";
		setStyle(getElement('TaRtxt_fax'));
	}
	/* --------------- FAX VALIDATION [END] ----------------*/
	
	//Alternate Phone..
	for(intIndex = 1; intIndex <= 6; intIndex++)
	{
		objPhone	=	getElement("Tatxt_phone_alt"+intIndex);
		strPhone	=	objPhone.value;

		if(strPhone != '')
		{
			if(checkPhoneValidation(objPhone))
			{
				if(strAlertMessage == '')
					strFocusField	=	'Tatxt_phone_alt'+intIndex;
				
				strAlertMessage	+=	"Please enter valid Alternate Phone "+intIndex+".\n";
				setStyle(getElement('Tatxt_phone_alt'+intIndex));
			}
		}
	}
	/* --------------- PHONE VALIDATION [END] ----------------*/
	
	/* --------------- SERVICE LEVEL VALIDATION [START] -------------
	if($("[id^='chk_sl_']:checked").length == 0)
	{
		strAlertMessage	+=	"At least one Service Level checkbox must be checked.\n";
	}
	/* --------------- SERVICE LEVEL VALIDATION [END] -------------*/
	
	/*----------------- SPECIALTY VALIDATION [START] ------------*/
	intSpecialtySelected = 0;
	$.each($("[id^='Tachk_specialty_type_']"),function()
	{
		if($(this).attr("checked"))
		{
			intSpecialtySelected++;
		}
	});
	
	if(intSpecialtySelected > 3)
	{
		strAlertMessage	+=	"Directory Specialty (SpecialtyID) only allows up to 4 selections.\n";
	}
	/*----------------- SPECIALTY VALIDATION [END] --------------*/
	
	/* --------------- TIME VALIDATION [START] --------------*/
	objTime		=	getElement("Tatxt_active_start_time_one");
	strTime		=	objTime.value;
	
	if(strTime != '')
	{
		if(checkTimeValidation(objTime))
		{
			if(strAlertMessage == '')
				strFocusField	=	'Tatxt_active_start_time_one';
			
			strAlertMessage	+=	"Please enter valid Active Start Time (UTC).\n";
			setStyle(getElement('Tatxt_active_start_time_one'));
		}
	}
	
	objTime		=	getElement("Tatxt_active_end_time_one");
	strTime		=	objTime.value;
	
	if(strTime != '')
	{
		if(checkTimeValidation(objTime))
		{
			if(strAlertMessage == '')
				strFocusField	=	'Tatxt_active_end_time_one';
			
			strAlertMessage	+=	"Please enter valid Active End Time (UTC).\n";
			setStyle(getElement('Tatxt_active_end_time_one'));
		}
	}
	/* --------------- TIME VALIDATION [END] ----------------*/
	
	if(strAlertMessage != '')
	{
		alert(strAlertMessage);
		eval(strStyle);
		
		if(strFocusField != '')
		{
			getElement(strFocusField).focus();
		}
		return false;
	}
}

//Function to check Phone validation.. format should be 1234567890x1234567890
function checkPhoneValidation(objPhone)
{
	//By default take blnError as false..
	blnError	=	false;
	
	strPhone	=	objPhone.value;
	arrPhone	=	strPhone.split("x");
	
	/*
	* first part is phone and second part is extension...
	*/
	
	if(arrPhone[0].length != 10)	//If phone part length is less than 10 then error...
		blnError	=	true;
	else
	{
		if(arrPhone[1] == '')
		{
			objPhone.value = strPhone.replace("x","");
		}
		
		strPhone	=	strPhone.replace("x","");
		if(isNaN(strPhone))
			blnError	=	true;
	}
	
	return blnError;
}

//Function to check Time validation...
function checkTimeValidation(objTime)
{
	//By default take blnError as false..
	blnError	=	false;
	strTime		=	objTime.value;
	arrTime		=	strTime.split(":");

	if(isNaN(strTime.replace(/:/g,"")))
		blnError	=	true;
	else if(arrTime[0] >= 24 ||  arrTime[1] > 59 || arrTime[2] > 59)
		blnError	=	true;

	return blnError;	
}

function enableDisableServiceLevels(obj)
{
	if(obj.id == 'disabledchkbox')
	{
		if(getElement(obj.id).checked)
			$("[id^='chk_sl_']").uncheck();
	}
	else
	{
		if(getElement(obj.id).checked)
			getElement('disabledchkbox').checked = false;
	}
}

jQuery.fn.extend({ 
	check: 
			function() 
			{
				return this.each(function() 
				{
					this.checked = true; 
				});
			},
	uncheck: 
			function()
			{
				return this.each(function() 
				{ 
					this.checked = false; 
				});
			}
});

</script>
{/literal}
