{literal}
<script language="javascript">
function deleteSettings()
{
	var sltFlag = true;

	chkBoxArray = document.frm_settings.elements['chk_setting_id[]'];
	for(var intSettings = 0; intSettings < chkBoxArray.length ; intSettings++)
	{	
		if(chkBoxArray[intSettings].checked == true)
		{
			sltFlag = false;
			break;
		}
	}		

	if(sltFlag)
	{
		alert("No Items were selected");
		return false;
	}	
	
	if(confirm("Are you sure to delete?"))
	{
		document.frm_settings.hid_table_id.value = 11;	
		document.frm_settings.hid_page_type.value = "D";	
		document.frm_settings.file.value='med_general_settings_action';
		document.frm_settings.submit();
		return true;
	}				
}

function checkUncheckAll()
{
 	chkBoxArray = document.frm_settings.elements['chk_var_name[]'];
	// To Check All CheckBox
	if(document.frm_settings.check_uncheck.checked == true)
		for(var intSettings = 0; intSettings < chkBoxArray.length ; intSettings++)
			chkBoxArray[intSettings].checked = true;
		
	// To Uncheck All CheckBox
	if(document.frm_settings.check_uncheck.checked == false)
		for(var intSettings = 0; intSettings < chkBoxArray.length ; intSettings++)
			chkBoxArray[intSettings].checked = false;
}
</script>
{/literal}
<form name="frm_settings" id="frm_settings" method="post" action="index.php" enctype="multipart/form-data">
  <input type="hidden" name="file" id="file" value="med_general_settings_action" />
  <input type="hidden" name="hid_table_id" id="hid_table_id" value="70" />
  <input type="hidden" name="hid_page_type" id="hid_page_type" value="" />
  <input type="hidden" id="hid_module_id" name="hidin_module_id" value="{$intModuleId}"/>
  <input type="hidden" id="hid_sub_module_id" name="hid_sub_module_id" value="{$intSubModuleId}"/>
  <input type="hidden" name="parent_id" id="parent_id" value="{$intParentId}" />
  <input type="hidden" name="med_delete_url" id="med_delete_url" value="med_general_settings_action" />
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="tab-bor">
    <tr>
      <td align="left" height="24" colspan="4"><img src="images/orange-sarrow.gif" width="9" height="9" hspace="4" /> <font class="bold-text">{$strModuleName}</font></td>
    </tr>
    <tr>
      <td height="1" class="blue-bg" colspan="4"></td>
    </tr>
    { if (!empty($strMessage))}
    <tr>
      <td colspan="4" class="error-normal" height="25" align="center" valign="middle">{$strMessage}</td>
    </tr>
    {/if}
    </tr>
    
    <tr height="25" >
      <td align="left" colspan="4" >&nbsp;{$strAddButton}&nbsp;{$strDeleteButton}</td>
    </tr>
    <tr> </tr>
    <tr class="hdr">
      <td align="center" width="5%"><input id="check_uncheck" name="check_uncheck" onclick='checkUncheckAll()' type="checkbox">
      </td>
      <td align="left" width="25%">&nbsp;Name</td>
      <td align="right" width="30%">Description:&nbsp;</td>
      <td align="left" width="40%">&nbsp;Value</td>
    </tr>
    <tr>
      <td colspan="4">{$strGeneralSettings}</td>
    </tr>
    {if $intCount < 1}
    <tr>
      <td align="center" colspan="4" height="25">No data found</td>
    </tr>
    {else}
    {section name=intGeneralSettings loop=$rsGeneralSettings}			
    {assign var="arrHtmlControl" value=""}
    {$objPage->addArray($arrHtmlControl,"type",$rsGeneralSettings[intGeneralSettings].var_type)}
    {$objPage->addArray($arrHtmlControl,"field_type","")}
    {$objPage->addArray($arrHtmlControl,"field_name",$rsGeneralSettings[intGeneralSettings].var_name)}
    {$objPage->addArray($arrHtmlControl,"class","comn-input")}
    {$objPage->addArray($arrHtmlControl,"isrequired","0")}
    {$objPage->addArray($arrHtmlControl,"size",$rsGeneralSettings[intGeneralSettings].var_size)}
    {$objPage->addArray($arrHtmlControl,"maxlength",$rsGeneralSettings[intGeneralSettings].var_maxlength)}		
    {$objPage->addArray($arrHtmlControl,"value",$rsGeneralSettings[intGeneralSettings].var_value)}
    {$objPage->addArray($arrHtmlControl,"tbl_name",$rsGeneralSettings[intGeneralSettings].var_select)}
    {if $bgcolor == '#ffffff' }
    {assign var='bgcolor' value="#f4f6f7"}
    {else}
    {assign var='bgcolor' value="#ffffff"}
    {/if}
    {if $rsGeneralSettings[intGeneralSettings.index_prev].field_group ne $rsGeneralSettings[intGeneralSettings.index].field_group }
    <tr>
      <td height="1" class="blue-bg" colspan="4"></td>
    </tr>
    <tr>
      <td colspan="4"  align="left" height="24">&nbsp;&nbsp;<font class="bold-text">{$rsGeneralSettings[intGeneralSettings].field_group}</font></td>
    </tr>
    <tr>
      <td height="1" class="blue-bg" colspan="4"></td>
    </tr>
    {/if}
    <tr bgcolor="{$bgcolor}">
      <td align="center" height="25" width="5%"><input type="checkbox" name="chk_setting_id[]" id="chk_setting_id[]" value="{$rsGeneralSettings[intGeneralSettings].setting_id}" /></td>
      <td align="left" height="25" width="25%"><a href="index.php?file=med_general_settings_add&hid_table_id=11&hid_page_type=E&setting_id={$rsGeneralSettings[intGeneralSettings].setting_id}">{$rsGeneralSettings[intGeneralSettings].var_name}</a>&nbsp;</td>
      <td align="right" height="25" width="30%">{$rsGeneralSettings[intGeneralSettings].var_desc}:&nbsp;</td>
      <td align="left" height="25" width="40%">&nbsp;{$objPage->generateHtmlControl($arrHtmlControl)}{if $rsGeneralSettings[intGeneralSettings].var_name == 'SITE_LOGO'} <a href="#" onclick="popup('index.php?file=med_sitelogo',300,200);">[View]</a>{/if}</td>
    </tr>
    {/section}
    {/if}
    {if $intCount >= 1}
    <tr>
      <td></td>
      <td></td>
      <td></td>
     <!-- <td height="35" align="left" ><input type="submit" name="change" id="change" value="Save" class="btn" border="0"/></td>-->
    </tr>
    {/if}
  </table>
</form>
{literal}
<script language="javascript">
//Function called for General Settings > Field Group
function getFieldGroupControl()
{
	
}
</script>
{/literal}