<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Employee Module of Meditab Online Support</title>
<link href="./images/med_style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="./images/med_modal_message.css" type="text/css">
</head>
{literal}
<script type="text/javascript" src="./../base/meditab/med_quicklist.js"></script>
<script type="text/javascript" src="./../base/meditab/med_common.js"></script>
<script type="text/javascript" src="./base/med_common.js"></script>
<script type="text/javascript" src="./../base/jsoverlib/overlibmws.js"></script>
<script type="text/javascript" src="./../base/jsoverlib/overlibmws_iframe.js"></script>
{/literal}
<body style="margin:5px;">
<form name="frm_list_record" id="frm_list_record" method="post" action="index.php">
  <input type="hidden" name="file" id="file"  value="med_out_message_tran">
  <input type="hidden" name="hid_button_id" id="hid_button_id"  value="{$strButtonId}">
  <input type="hidden" name="hid_table_id" id="hid_table_id"  value="{$intTableId}">
  <input type="hidden" name="hid_page_type" id="hid_page_type"  value="L">
  <input type="hidden" name="hid_mt_tran_id" id="hid_mt_tran_id"  value="{$intTranId}">
  <input type="hidden" name="hid_max_row_limit" id="hid_max_row_limit" value="{$intShowMaxRows}" />
  <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" class="tab-bor">
    <tr>
      <td height="24" align="left" valign="middle"><img src="images/orange-sarrow.gif" width="9" height="9" hspace="6" /> <font class="bold-text">{$strModuleName}</font></td>
      <td width="8%" align="left" nowrap="nowrap"><img src="images/dot-back-arrow.gif" width="5" height="9" hspace="5" /><a href="#" onclick="self.parent.tb_remove();">Close</a></td>
    </tr>
    <tr>
      <td height="1" class="blue-bg" colspan="2"></td>
    </tr>
    { if (!empty($strMessage))}
    <tr>
        <td height="25" colspan="2"  class="error-normal" align="center" valign="middle">{$strMessage}</td>
    </tr>
    {/if}
    <tr>
      <td height="2" colspan="2"></td>
    </tr>
    <tr>
      <td colspan="2">
	  			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td align="left">
						<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
						<legend><strong>Basic Information</strong></legend>
						<table width="100%" border="1" cellpadding="2" cellspacing="2" style="border-collapse:collapse; border:1px solid #CCCCCC">
						<tr>
							<td  align="right" valign="top" width="20%" bgcolor="#EFEFEF">{$LBL_store_name}</td>
							<td  align="left" valign="top" width="15%">{$strstore_name}</td>
							<td  align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_store_number}</td>
							<td  align="left" valign="top" width="50%">{$strstore_number}</td>
						</tr>
						</table>
						</fieldset>
					</td>
				  </tr>
				  
				  <tr>
						<td align="left" height="8"></td>
					</tr>
				  
				  	<tr>
						<td align="left">
							<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
							<legend><strong>Indentification</strong></legend>
							<table width="100%" border="1" cellpadding="2" cellspacing="2" style="border-collapse:collapse; border:1px solid #CCCCCC">
								<tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_ncpdpid}</td>
								<td  align="left" valign="top" colspan="5">{$strncpdpid}</td>
							  </tr>
							   <tr>
								<td  align="right" valign="top" width="20%" bgcolor="#EFEFEF">{$LBL_dea}</td>
								<td  align="left" valign="top" width="15%">{$strdea}</td>
								<td  align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_npi}</td>
								<td  align="left" valign="top" width="20%">{$strnpi}</td>
								<td  align="right" valign="top" width="15%"></td>
								<td  align="left" valign="top" width="15%"></td>
							  </tr>
							   
							<tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_file_id}</td>
								<td  align="left" valign="top">{$strfile_id}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_hin}</td>
								<td  align="left" valign="top" >{$strhin}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_bin}</td>
								<td  align="left" valign="top" >{$strbin}</td>
							  </tr>
								
								<tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_medicaid_number}</td>
								<td  align="left" valign="top">{$strmedicaid_number}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_medicare_number}</td>
								<td  align="left" valign="top">{$strmedicare_number}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_mutually_defined}</td>
								<td  align="left" valign="top">{$strmutually_defined}</td>
							  </tr>
								
								<tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_naic_code}</td>
								<td  align="left" valign="top">{$strnaic_code}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_payer_id}</td>
								<td  align="left" valign="top">{$strpayer_id}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_ppo_number}</td>
								<td  align="left" valign="top">{$strppo_number}</td>
							  </tr>
								
							   <tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_prior_authorization}</td>
								<td  align="left" valign="top">{$strprior_authorization}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_promotion_number}</td>
								<td  align="left" valign="top">{$strpromotion_number}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_secondary_coverage}</td>
								<td  align="left" valign="top">{$strsecondary_coverage}</td>
							  </tr>
							  
							   <tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_social_security}</td>
								<td  align="left" valign="top">{$strsocial_security}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_state_license}</td>
								<td  align="left" valign="top" colspan="2">{$strstate_license}</td>
							  </tr>
							</table>
							</fieldset>
						</td>
					</tr>
					
					<tr>
						<td align="left" height="8"></td>
					</tr>
					
					 <tr>
						<td align="left">
							<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
							<legend><strong>Pharmacist</strong></legend>
							<table width="100%" border="1" cellpadding="2" cellspacing="2" style="border-collapse:collapse; border:1px solid #CCCCCC">
							  <tr>
								<td  align="right" valign="top" width="20%" bgcolor="#EFEFEF">{$LBL_first_name}</td>
								<td  align="left" valign="top" width="15%">{$strfirst_name}</td>
								<td  align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_middle_name}</td>
								<td  align="left" valign="top" width="20%">{$strmiddle_name}</td>
								<td  align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_last_name}</td>
								<td  align="left" valign="top" width="15%">{$strlast_name}</td>
							  </tr>
							  
							  <tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_suffix}</td>
								<td  align="left" valign="top">{$strsuffix}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_prefix}</td>
								<td  align="left" valign="top" colspan="2">{$strprefix}</td>
							  </tr>
							</table>
							</fieldset>
						</td>
					</tr>
					
					<tr>
						<td align="left" height="8"></td>
					</tr>
					
					  <tr>
						<td align="left">
							<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
							<legend><strong>Address</strong></legend>
							<table width="100%" border="1" cellpadding="2" cellspacing="2" style="border-collapse:collapse; border:1px solid #CCCCCC">
							  <tr>
								<td  align="right" valign="top" width="20%" bgcolor="#EFEFEF">{$LBL_address_line1}</td>
								<td  align="left" valign="top" width="15%">{$straddress_line1}</td>
								<td  align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_address_line2}</td>
								<td  align="left" valign="top" width="20%">{$straddress_line2}</td>
								<td  align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_cross_street}</td>
								<td  align="left" valign="top" width="15%">{$strcross_street}</td>
							  </tr>
							  
							  <tr>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_city}</td>
								<td  align="left" valign="top">{$strcity}</td>
								<td  align="right" valign="top" bgcolor="#EFEFEF">{$LBL_state}</td>
								<td  align="left" valign="top">{$strstate}</td>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_zip}</td>
								<td align="left" valign="top">{$strzip}</td>
							 </tr>
							</table>
							</fieldset>
						</td>
					</tr>
					
					<tr>
						<td align="left" height="8"></td>
					</tr>
					
					 <tr>
						<td align="left">
							<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
							<legend><strong>Contacts/Communications</strong></legend>
							<table width="100%" border="1" cellpadding="2" cellspacing="2" style="border-collapse:collapse; border:1px solid #CCCCCC">
							<tr>
								<td align="right" valign="top" width="20%" bgcolor="#EFEFEF">{$LBL_phone_primary}</td>
								<td align="left" valign="top" width="15%">{$strphone_primary}</td>
								<td align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_fax}</td>
								<td align="left" valign="top" width="20%">{$strfax}</td>
								<td align="right" valign="top" width="15%" bgcolor="#EFEFEF">{$LBL_email}</td>
								<td align="left" valign="top" width="15%">{$stremail}</td>
							</tr>
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_phone_alt1_qualifier}</td>
								<td align="left" valign="top" colspan="5">{if $strphone_alt1 neq ''}({$strphone_alt1_qualifier})&nbsp;{/if}{$strphone_alt1}</td>
							</tr>
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_phone_alt2_qualifier}</td>
								<td align="left" valign="top" colspan="5">{if $strphone_alt2 neq ''}({$strphone_alt2_qualifier})&nbsp;{/if}{$strphone_alt2}</td>
							</tr>
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_phone_alt3_qualifier}</td>
								<td align="left" valign="top" colspan="5">{if $strphone_alt3 neq ''}({$strphone_alt3_qualifier})&nbsp;{/if}{$strphone_alt3}</td>
							</tr>
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_phone_alt4_qualifier}</td>
								<td align="left" valign="top" colspan="5">{if $strphone_alt4 neq ''}({$strphone_alt4_qualifier})&nbsp;{/if}{$strphone_alt4}</td>
							</tr>
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_phone_alt5_qualifier}</td>
								<td align="left" valign="top" colspan="5">{if $strphone_alt5 neq ''}({$strphone_alt5_qualifier})&nbsp;{/if}{$strphone_alt5}</td>
							</tr>
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_phone_alt6_qualifier}</td>
								<td align="left" valign="top" colspan="5">{if $strphone_alt6 neq ''}({$strphone_alt6_qualifier})&nbsp;{/if}{$strphone_alt6}</td>
							</tr>
							</table>
							</fieldset>
						</td>
					</tr>	
					
					<tr>
						<td align="left" height="8"></td>
					</tr>
					
					 <tr>
						<td align="left" width="100%">
							<fieldset style="border:1px solid #BED9F0; border-collapse:collapse;">
							<legend><strong>Directory Information</strong></legend>
							<table width="100%" border="1" cellpadding="2" cellspacing="2" style="border-collapse:collapse; border:1px solid #CCCCCC">
							<tr>
								<td align="right" valign="top" width="20%" bgcolor="#EFEFEF">{$LBL_service_level_bits}</td>
								<td align="left" valign="top">{$strservice_level_bits}</td>
							</tr>
							<tr>
								<td align="right" valign="top" width="20%" bgcolor="#EFEFEF">{$LBL_specialty_type}</td>
								<td align="left" valign="top">{$strspecialty_type}</td>
							</tr>
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_active_start_time}</td>
								<td align="left" valign="top">{$stractive_start_time}</td>
							</tr>
							
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_active_end_time}</td>
								<td align="left" valign="top">{$stractive_end_time}</td>
							</tr>
							
							
								<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_twenty_four_hour_flag}</td>
								<td align="left" valign="top">{$strtwenty_four_hour_flag}</td>
								</tr>
								
							<tr>
								<td align="right" valign="top" bgcolor="#EFEFEF">{$LBL_fax_portal}</td>
								<td align="left" valign="top">{$strfax_portal}</td>
							</tr>
							</table>
							</fieldset>
						</td>
					</tr>	
				</table>

		</td>
	</tr>		
  </table>
</form>
</body>
</html>