<form name="frm_imgpopup" id="frm_imgpopup" method="post" action="index.php">
<input type="hidden" name="file" id="file" value="med_imgpopup">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Image Popup</title>
</head>

<body>
<table width="100%" align="center" valign="middle" height="{$intHeight}">
	<tr >	
		<td width="100%" align="center" valign="middle" >
		<img src="{$strImgPath}" />	</td>
 </tr>			
</table>
</body>
</html>