/*****************************************************************************************
  	Patient Portal  -   Admin Panel CSS 
	Created By		: 	bindi
	Created On		: 	17 May 2006
*****************************************************************************************/
/* default classes*/
body {
    margin-bottom: 0;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}

input,select,textarea, checkbox {
    font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}

form { 
	margin: 0px; 
	padding: 0px;
}

fieldset
{
	border:1px solid #bed9f0;
}
legend
{
	font-weight: bold; font-size: 11px; color: #1267af;
}


a { color: #0a6ec4; text-decoration: none; }
a:link { color: #0a6ec4; text-decoration: none; }
a:visited { color: #0a6ec4; text-decoration: none; }
a:hover { color: #0a6ec4; text-decoration: underline; }

/* this classes are used for give the backgroung image*/

/*.top-bg {
	background-image: url(../images/top-bg.gif);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #FFFFFF;
}*/
.top-bg {
	background: url(../images/med-mem-top-mid-bg.gif);
	background-position: top;
	background-repeat: repeat-x;
	height: 90px;
	border-left: 10px solid #d9efff;
	border-right: 10px solid #d9efff;
}

.loginpage-bg { 
	background-image: url(bg.gif);
	background-repeat: repeat-x;
	background-position: top left;
	margin-bottom: 0;
	margin-top: 150px;
	margin-left: 0;
	margin-right: 0;
	height: 460px;
	background-color: #128df4;
 } 
.help {cursor:help;border:none}
.loginpage-mid-top-bg { background-image: url(middle-bg-01.gif); background-repeat:no-repeat; background-position:top; background-color:#ffffff; }
.loginpage-mid-bg { background-image: url(middle-bg-02.gif); background-repeat:no-repeat; background-position:top; background-color:#ffffff; }
.loginpage-mid-bot-bg { background-image: url(middle-bg-03.gif); background-repeat:no-repeat; background-position:top; } 

.inner-page-top-bg { background-image: url(innerpage-top-bg.gif); background-repeat: repeat-x; background-position: left; height: 147px; }
.inner-page-bot-bg { background-image: url(footer-bg.gif); background-repeat: repeat-x; background-position: left; height: 71px; }

.logo-bg { background-image: url(logo-bg.gif); background-repeat: no-repeat; background-position: top; }

/* link table classes start here*/

.left-table-nav { FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none; }
.left-table-nav a:link { FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none; }
.left-table-nav a:visited { FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none; }
.left-table-nav a:hover { FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: underline; }

.lnktab-top-mid-bg{ background-image: url(linkb-mid-top-bg.gif); background-repeat: repeat-x; background-position: left; height: 31px; }
.lnktab-left-bg{ background-image: url(linkb-left-bg.gif); background-repeat: repeat-y; background-position: left; width:8px;}
.lnktab-right-bg{ background-image: url(linkb-right-bg.gif); background-repeat: repeat-y; background-position: right; width:8px;}
.lnktab-bot-mid-bg{ background-image: url(linkb-mid-bot-bg.gif); background-repeat: repeat-x; background-position: left; height:8px;}

/* link table classes end here*/


/*START text classes here*/
/*these text classes are used for different (color/style/effect) text matter display purpose*/
.header_text { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; text-decoration:none; }
.gray-text { font-weight: normal; font-size: 11px; color: #707070; }
.blue-text-bold-01 { font-weight: bold; font-size: 11px; color: #1267af; }
.blue-text-bold-02 { font-weight: bold; font-size: 11px; color: #004e90; }
.white-text { font-weight: normal; font-size: 11px; color: #ffffff; }
.blue-text { font-weight: normal; font-size: 11px; color: #1267af; }
.red-text { font-weight: normal; font-size: 11px; color: #FF0000; }
.white-head { font-size:18px; text-decoration: none ; font-weight: bold; color:#FFFFFF;}
.white-text-bold { color: #FFFFFF; text-decoration: none ; font-weight: bold; }
.blue-text-bold-01-tr {	font-weight: bold; font-size: 11px; color: #1267af; background-color: #dfecf8; color: #1c75ac; text-decoration: none;}
.bold-text { FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; text-decoration:none; }
/*END text classes here*/

/* textbox class*/
.comn-input {
	border:1px solid #c7c7c7;
}

/* navigation classes start here*/

.bot-white-nav { font-family: Tahoma,Arial, Helvetica, sans-serif;FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
.bot-white-nav a:link { font-family: Tahoma,Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
.bot-white-nav a:visited { font-family: Tahoma,Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
.bot-white-nav a:hover { font-family: Tahoma,Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: underline;  }

.white-nav { FONT-WEIGHT: bold; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
a.white-nav:link { FONT-WEIGHT: bold; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
a.white-nav:visited { FONT-WEIGHT: bold; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
a.white-nav:hover { FONT-WEIGHT: bold; COLOR: #ffffff; font-size:11px; text-decoration: underline;  }

.middle-line { background-color: #a3cdef; }

.black-nav { FONT-WEIGHT: bold; COLOR: #000000; font-size: 11px; text-decoration: none;  }
.black-nav a:link { FONT-WEIGHT: bold; COLOR: #000000; font-size: 11px; text-decoration: none;  }
.black-nav a:visited { FONT-WEIGHT: bold; COLOR: #000000; font-size: 11px; text-decoration: none;  }
.black-nav a:hover { FONT-WEIGHT: bold; COLOR: #000000; font-size: 11px; text-decoration: underline;  }

.bluetop-nav { FONT-WEIGHT: bold; COLOR: #ffffff; font-size: 11px; text-decoration: none; background-color: #3399CC;  }
.bluetop-nav a:link { FONT-WEIGHT: bold; COLOR: #ffffff; font-size: 11px; text-decoration: none; background-color: #3399CC;   }
.bluetop-nav a:visited { FONT-WEIGHT: bold; COLOR: #ffffff; font-size: 11px; text-decoration: none; background-color: #3399CC;  }
.bluetop-nav a:hover { FONT-WEIGHT: bold; COLOR: #ffffff; font-size: 11px; text-decoration: underline; background-color: #3399CC;  }


/* middle table classes start here*/

tr.hdr {
 	height: 25px;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	color: #3f628e;
	background-color: #bed9f0;
}
tr.hdr td { border-right:1px solid #fff; }

.tab-bor { border:1px solid #bed9f0; }
.blue-bg { background-color: #bed9f0; }
.darkblue-bg { background-color: #4388cd; }
/* middle table class end here*/

.error-normal { font-weight: normal; color: #ff5100; }

.error-bold { font-weight: bold; color: #ff0000; }

.btn {
	padding: 1px;
	background-color: #4d9fe2;
	border: 1px solid #4782b4;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.orng-btn
{
	padding: 1px;
	display: block;
	background-color: #f8b908;
	border: 1px solid #dba40a;
	width: 65px;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

.normal-text
{
	font-family: Tahoma,Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #000000;
	font-size: 11px;
	text-decoration: none;
}

/****START  List style ****/

.qlist, .qlist td {
}
.qlist .srch {
}
.qlist .srch table td {
	FONT-WEIGHT: bold; COLOR: #1267af; font-size:11px; text-decoration: none;
}
.qlist .srch .vsrch td {
	padding: 2px 2px 2px 2px;
}
.qlist .srch td.vsrch table {
    float: right;
}
.qlist .srch .vsrch select {
}
/*.qlist .srch .vsrch .txtbox {
}*/
.qlist .srch .vsrch .btn {
	padding: 1px;
	display: block;
	background-color: #4d9fe2;
	border: 1px solid #4782b4;
	width: 65px;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.qlist .btn {
	padding: 1px;
	background-color: #4d9fe2;
	border: 1px solid #4782b4;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}
.qlist .srch td.asrch {
	text-align: right;
	height: 22px;
	vertical-align: middle;
}
.qlist .srch .asrch A {
	FONT-WEIGHT: normal; COLOR: #ff8a00; font-size: 11px; text-decoration: none;
}
.qlist .srch .asrch A:hover {
	FONT-WEIGHT: normal; COLOR: #0a6ec4; font-size: 11px; text-decoration: underline;
}
.qlist .srch .asrch .active {
    FONT-WEIGHT: normal; COLOR: #0a6ec4; font-size: 11px; text-decoration: underline;
}
.qlist .lst table {
	border-collapse: collapse;
}
.qlist .lst td {
	padding: 0px 2px 2px 2px;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.qlist .lst td.ttl {
	background-color: #800;
	color: #fff;
	padding: 2px 2px 2px 2px;
	text-align: center;
	background-color: #FFC600;
}
.qlist .lst tr.hdr td {
	background-color: #bed9f0;
	color: #3f628e;
	font-weight: bold;
	padding-right: 4px;
	padding-left: 4px;
}
.qlist .lst tr.hdr td A {
	color: #3f628e;
	font-weight: bold;
	text-decoration: none;
}
.qlist .lst tr.hdr td A:hover {
	text-decoration: underline;
}
.qlist .lst tr.hdr td .srtAsc, .qlist .lst tr.hdr td .srtDesc {
	font-size: 8px;
}

.qlist .lst tr.data1 td {
	background-color: #ffffff;
	padding-left: 4px;
	padding-right: 4px;
	height: 20px;
}
.qlist .lst tr.data1 td a:link { color: #0a6ec4; text-decoration: none; }
.qlist .lst tr.data1 td a:visited { color: #0a6ec4; text-decoration: none; }
.qlist .lst tr.data1 td a:hover { color: #0a6ec4; text-decoration: underline; }


.qlist .lst tr.data2 td {
	background-color: #f4f6f7;
	padding-left: 4px;
	padding-right: 4px;
	height: 20px;
}
.qlist .lst tr.data2 td a:link {color: #0a6ec4; text-decoration: none; }
.qlist .lst tr.data2 td a:visited {color: #0a6ec4; text-decoration: none; }
.qlist .lst tr.data2 td a:hover {color: #0a6ec4; text-decoration: underline;}

/*this class is particularly used for red made by bindi on 25-12-06*/
.qlist .lst tr.datared td {
	background-color: #FEF7DE;
	color: #ff0000;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	height: 18px;
}
.qlist .lst tr.datared td a:link { color: #FF0000; text-decoration: none; }
.qlist .lst tr.datared td a:visited { color: #FF0000; text-decoration: none; }
.qlist .lst tr.datared td a:hover { color: #FF0000; text-decoration: underline; }

.qlist .lst tr.dataredH td {
	background-color: #FDEAA8;
	color: #FF0000;
	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;
	height: 18px;
}
.qlist .lst tr.dataredH td a:link { color: #FF0000; text-decoration: underline; }
.qlist .lst tr.dataredH td a:visited { color: #FF0000; text-decoration: underline; }
.qlist .lst tr.dataredH td a:hover { color: #FF0000; text-decoration: underline; }

.qlist .lst tr.dataredS td {
	background-color: #FDEAA8;
	color: #FF0000; 
	padding-left:4px;
	padding-top: 2px;
	padding-right:4px;
	height:18px;
}
.qlist .lst tr.dataredS td a:link { color: #FF0000; text-decoration: underline; }
.qlist .lst tr.dataredS td a:visited { color: #FF0000; text-decoration: underline; }
.qlist .lst tr.dataredS td a:hover { color: #FF0000; text-decoration: underline; }

/*red class end here*/
.qlist .lst tr.dataH td {
	background-color: #dfecf8;
	padding-left: 4px;
	padding-right: 4px;
	height: 20px;
}
.qlist .lst tr.dataH td a:link { background-color: #dfecf8; color: #1c75ac; text-decoration: underline; }
.qlist .lst tr.dataH td a:visited { background-color: #dfecf8; color: #1c75ac; text-decoration: underline; }
.qlist .lst tr.dataH td a:hover { background-color: #dfecf8; color: #0b5889; text-decoration: underline; }


.qlist .lst tr.dataS td {
	background-color: #5794bf;
	color:#fff;
	padding-left:4px;
	padding-right:4px;
	height:20px;
}
.qlist .lst tr.dataS td a:link { background-color: #5794bf; color: #fff; text-decoration: underline; }
.qlist .lst tr.dataS td a:visited { background-color: #5794bf; color: #fff; text-decoration: underline; }
.qlist .lst tr.dataS td a:hover { background-color: #5794bf; color: #fff; text-decoration: underline; }


.qlist .lst tr.gftr td {
	background-color: #ffe99d;
}
.qlist .lst tr.lftr td {
	background-color: #ffe383;
}

.qlist .lst tr.pgr {}
.qlist .lst tr.pgr td { 
	color: #1267af;
	font-weight: bold;
	text-decoration: none;
	height: 28px;
	border-top-color: #bed9f0;
	border-top-width: 2px;
	border-top-style: solid;
}
.qlist .lst tr.pgr td A:link { color: #ff8a00; font-weight: bold; text-decoration: underline; }
.qlist .lst tr.pgr td A:visited { color: #ff8a00; font-weight: bold; text-decoration: underline;  }
.qlist .lst tr.pgr td A:hover { color: #ff8a00; font-weight: bold; text-decoration: none; }


/* for the alignment of table and td */


.qlist .lst tr.hdr td.leftAlign, .qlist .lst tr.data1 td.leftAlign, .qlist .lst tr.data2 td.leftAlign, .qlist .lst tr.dataH td.leftAlign, .qlist .lst tr.dataS td.leftAlign {
	text-align: left;
}
.qlist .lst tr.hdr td.centerAlign, .qlist .lst tr.data1 td.centerAlign, .qlist .lst tr.data2 td.centerAlign, .qlist .lst tr.dataH td.centerAlign, .qlist .lst tr.dataS td.centerAlign {
	text-align: center;
}
.qlist .lst tr.hdr td.rightAlign, .qlist .lst tr.data1 td.rightAlign, .qlist .lst tr.data2 td.rightAlign, .qlist .lst tr.dataH td.rightAlign, .qlist .lst tr.dataS td.rightAlign {
	text-align: right;
}
.qlist .lst tr.tftr td {
	background-color: #4d9fe2;
	text-align: right;
}
.qlist .grp1 td {
	padding: 2px 2px 2px 2px;
	border: solid 1px #fff;
	color: #000066;
	font-weight:bold;	
	background-color:#f1f5ff;
	height: 20px;
}
.qlist .grp2 td {
	padding: 2px 2px 2px 4px;
	color: #384d85;
	font-weight:bold;
	background-color:#eff1fb;
	height: 20px;	
}
.err
{
   border: 1px solid #ff0000;
   background-color: #dfecf8;
}

/****END List style ****/

/* error page classes START here made by AMIT*/

.errortable {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	line-height: 16px;
}

.error-text-red {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: normal;
	color: #ff0012;
}

.error-text-path {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 11px;
	font-weight: normal;
	color: #006dff;
}

.error-bold {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #3399cc
}

.error-bold-02 {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 11px;
	color: #003b81;
}
.error-head {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003b80;
	font-weight: bold;
}
.error-td02 {
	background-color: #cadffa;
}
.error-td03 {
	background-color: #eff5fd;
}
.error-td04 {
	background-color: #fefeed;
}
.not-work { font-weight: normal; color: #ff0000; }

.overtime-work { font-weight: normal; color: #007700 }

.total-work { font-weight: normal; color: #000099; }

/* error page classes END here made by AMIT */
/* start temp class for div tag made by bindi 27-07-06*/
.scroller {
	  display: block;
	  position: relative;
	  width: auto;
	  height: 185px; 
	  margin: 0;
	  padding: 0;
	  background: inherit;
	  color: inherit;
	  overflow: auto;
	  clear: both;
}
/* this class is perticularly used for med_task page only made by bindi on 05-10-06*/
.scroller-t {
	  display: block;
	  position: relative;
	  width: auto;
	  height: auto; 
	  margin: 0;
	  padding: 0;
	  background: inherit;
	  color: inherit;
	  overflow: auto;
	  clear: both;
}
/* scrollbar class end here*/
/*end temp class for div tag made by bindi 27-07-06*/

/* new lay class START here made by bindi on 28-09-06*/
.mem-blue-bg {
	background-color: #d9efff;
}
.mem-top-bot-blue-bg {
	background-color: #1f4f82;
}
.mem-search-bg {
	background-color: #bed9f0;
	border: 1px solid #aacfee;
}
.mem-mid-left-right-bor {
	/*background-color: #f3f8fe;*/
	border-left: 10px solid #d9efff;
	border-right: 10px solid #d9efff;
}
.mem-bot-bg {
	background-color: #265d92;
}

.title { font-size: 18px; font-weight: normal; color: #000000; }

.subtitle { font-size: 14px; font-weight: bold; color: #000000; }

.description-reg { font-size: 12px; font-weight: normal; color: #000000; }

.description-bold { font-size: 12px; font-weight: bold; color: #000000; }

.description-uline { font-size: 12px; font-weight: normal; text-decoration: underline; color: #000000; }

.bullet-reg li { margin: 2px; padding: 2px; list-style-type: disc; font-size: 12px;}

.bullet-bold li { margin: 2px; padding: 2px; list-style-type: disc; font-weight: bold; font-size: 12px; }


.note-hd { font-size: 13px; font-weight: bold; color: #ff0000; }

.note-bold { font-size: 12px; font-weight: bold; color: #ff0000; }

.note-description { font-size: 12px; font-weight: normal; color: #ff0000; }

.note-bullet li { margin: 2px; padding: 2px; list-style-type: disc; font-weight: normal; font-size: 12px; color: #ff0000; }

.path { font-size: 11px; font-weight: normal; color: #ff3399; }


.key{ font-size: 16px; font-weight: bold; color: #ff44f8; }


.example-hd { font-size: 13px; font-weight: bold; color: #0044ce; }


.example-description { font-size: 12px; font-weight: normal; color: #0044ce; }

.example-bullet li { margin: 2px; padding: 2px; list-style-type: disc; font-weight: normal; font-size: 12px; color: #0044ce; }

.example-bold { font-size: 12px; font-weight: bold; color: #0044ce; }

.greentemp { font-size: 11px; font-weight: normal; color: #02cc44; }
/*.med-mid-title-bg {
	background: url(../images/mem-title-bg.gif);
	background-color: #dedede;
	background-repeat: repeat-x;
	background-position: left;
	height: 24px;
}
.mem-homep-bor {
	border-bottom: 1px solid #dedede;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}*/
/* new lay class END here*/

/* START  - Clases for POP window on mouse over effect */

.olFontClass { }
.olFontClass A { }
.olCapFontClass { 
	font-weight: bold; 
	color: #FFFFFF;
	background-color: #3077aa; 
}
.olCapFontClass A { 
	color: #CCCCCC; 
	font-size: 9px; 
}


.olFgClass td { 
	background-color: #ffffff; 
	padding: 2px 5px 5px 5px;
}


.olCgClass td {
	background-color: #3077aa;
	padding-left: 5px;
	border: 1px solid #3077aa;
	
	
}

.olCloseFontClass { 
	text-align: right; 
	background-color: #3077aa; 
}

.olBgClass { 
	background-color: #9FC4D9; 
}
/* END  - Clases for POP window on mouse over effect */

/* la = Left Aligned; ra = Right Aligned; ca = Center Aligned */

.rpt_table td
{
    padding:2px;
	border:1px solid #cccccc;

}
.rpt_table tr.even
{
    background-color:#FFF;
}
.rpt_table tr.odd
{
    background-color:#FCF7D9;
}
.rpt_table tr.header
{
    font-weight:bold;
    background-color:#DCE3EB;
}
.rpt_table tr.lblue
{
    font-weight:bold;
    background-color:#EAF0F7;
}
.rpt_table td.bold
{
    font-weight:bold;
}
.rpt_table td.la
{
    text-align:left;
}
.rpt_table td.ra
{
    text-align:right;
}
.rpt_table td.ca
{
    text-align:center;
}
.rpt_table td.green
{
    color:green
}
.rpt_table td.blue
{
    color:blue;
}