/*****************************************************************************************
  	IMS Training Help - CSS
	Created By		: 	Meditab
	Created On		: 	29 May 2006
*****************************************************************************************/
/* default classes*/
body {
    margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}

form {
	margin: 0px;
	padding: 0px;
}


a { color: #0000ff; text-decoration: underline; }
a:link { color: #0000ff; text-decoration: underline; }
a:visited { color: #0000ff; text-decoration: underline; }
a:hover { color: #0000ff; text-decoration: none; }




/* Background classes start here ,for the background images and background color*/

.top-bg {
	background-image: url(../images/top-bg.gif);
	background-repeat: repeat-y;
	background-position: left;
	background-color: #FFFFFF;
}
.inner-top-bg {
	background-image: url(../images/inner-top-bg.gif);
	background-repeat: repeat-y;
	background-position: right;
	background-color: #FFFFFF;
}
.login-right-bg {
	background-image:url(../images/log-mid-right.gif);
	background-repeat:repeat-y;
	
}

.brown-bg { background-color: #eee9d9; }
.blue-bg { background-color: #4388cd; }
.white-bg { background-color: #FFFFFF; }
.gray-bg { background-color: #cccccc;}
.sub-titl-bg { background-color: #f1f1f1; }


/* Background classes end here*/

/*Text classes start here*/
/*these text classes are used for different (color/style/effect) text matter display purpose*/
.white-text { color: #FFFFFF; text-decoration: none ; font-weight: normal; }
.white-text-bold { color: #FFFFFF; text-decoration: none ; font-weight: bold; }
.black-text-bold { color:#000000; text-decoration: none ; font-weight: bold; }
.blue-text-bold { color: #0000ff; text-decoration: none ; font-weight: bold; }
.title { font-size:18px; text-decoration: none ; font-weight: bold; }
.white-head { font-size:18px; text-decoration: none ; font-weight: bold; color:#FFFFFF;}


/*Text classes end here*/

/* navigation classes start here */


.white-nav { font-family: Tahoma,Arial, Helvetica, sans-serif;FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
.white-nav a:link { font-family: Tahoma,Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
.white-nav a:visited { font-family: Tahoma,Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: none;  }
.white-nav a:hover { font-family: Tahoma,Arial, Helvetica, sans-serif; FONT-WEIGHT: normal; COLOR: #ffffff; font-size:11px; text-decoration: underline;  }

.blue-nav { FONT-WEIGHT: bold; COLOR: #0000ff; font-size:12px; text-decoration: none;  }
.blue-nav a:link { FONT-WEIGHT: bold; COLOR: #0000ff; font-size:12px; text-decoration: none;  }
.blue-nav a:visited { FONT-WEIGHT: bold; COLOR: #0000ff; font-size:12px; text-decoration: none;  }
.blue-nav a:hover { FONT-WEIGHT: bold; COLOR: #0000ff; font-size:12px; text-decoration: underline;  }

.black-nav { FONT-WEIGHT: bold; COLOR: #000; font-size:12px; text-decoration: none;  }
a.black-nav:link { FONT-WEIGHT: bold; COLOR: #000; font-size:12px; text-decoration: none;  }
a.black-nav:visited { FONT-WEIGHT: bold; COLOR: #000; font-size:12px; text-decoration: none;  }
a.black-nav:hover { FONT-WEIGHT: bold; COLOR: #000; font-size:12px; text-decoration: underline;  }

/* navigation classes end here */

.inputtab { 
	border:1px solid #4388cd;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}



/*start on 30 May 2006..add by amit */

.cream-td { background-color: #fcf9f1; }

.bg-select {
	background-image:url(../images/bg-selectmodules.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 411px;
	height: 78px;
}

.bg-search {
	background-image:url(../images/bg-search.gif);
	background-repeat: no-repeat;
	background-position: top left;
	width: 356px;;
	height: 78px;
}

.bg-topstrip {
	background-image:url(../images/bg-topstrip.gif);
	background-repeat: repeat-x;
	background-position: top left;
	height: 78px;
}
/*end on 30 May 2006..add by amit */